#logo{
    padding:0px 10px;
    font-weight:bold;
    font-size:large;
}

#chevalereskImg{
    width:150px;
    height:150px;
}

#mainContainer{
    margin-top:10px;
}

.bold{
    font-weight:bold;
}

.ecu{
    width:12px;
    height:12px;
}